<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checks</title>

    <!-- Novo Icon -->
    <link href="{{ url_for('static', filename='img/Novo1.png')}}" rel="icon">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style_upload.css')}}" rel="stylesheet">

</head>
<body>

    <div style="text-align:center;">

        <br>
        <br>
        
        <a href="/result1">
            <input class="button" type="submit", value="PDF Corrupt">
        </a>

        <br>
        <br>

        <a href="/result2">
            <input class="button" type="submit", value="PDF Password">
        </a>

        <br>
        <br>

        <a href="/result3">
            <input class="button" type="submit", value="PDF Version">
        </a>

        <br>
        <br>

        <a href="/result4">
            <input class="button" type="submit", value="PDF Dimension">
        </a>

        <br>
        <br>

        <a href="/result5">
            <input class="button" type="submit", value="PDF Font & Size">
        </a>

        <br>
        <br>

        <a href="/result6">
            <input class="button" type="submit", value="PDF Bookmarks">
        </a>

        <br>
        <br>

        <a href="/result7">
            <input class="button" type="submit", value="PDF Links">
        </a>

        
    </div>
</body>
</html>